<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">GE_Sample</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">{{'GE.HEADER.home' | translate}}</a>
      <a class="nav-item nav-link" href="/users/user-list">{{'GE.HEADER.txtUsers' | translate}}</a>
      <a class="nav-item nav-link" href="/equipment/equipment-list">{{'GE.HEADER.txtEquipments' | translate}}</a>
      <a class="nav-item nav-link" href="/equipment/equipment-deposit">{{'GE.HEADER.txtDeposit' | translate}}</a>
      <a class="nav-item nav-link" href="/equipment/equipment-withdraw">{{'GE.HEADER.txtWithdraw' | translate}}</a>
      <a class="nav-item nav-link" href="/equipment/new-equipment">{{'GE.HEADER.txtNewEquipment' | translate}}</a>
      <a class="nav-item nav-link" href="/records/movements">{{'GE.HEADER.txtMovementRecords' | translate}}</a>
    </div>
  </div>
</nav>


