<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <label>
        {{'GE.DEPOSIT.search' | translate}}
        <input type="text" [formControl]="equipmentSearch">
      </label>
    </div>
    <button (click)="searchEquip()" type="button" class="btn btn-secondary">
      {{'GE.DEPOSIT.btnSearch' | translate}}
    </button>
  </div>

  <br>

  <div class="row">
    <table class="table table-sm table-dark">
      <thead>
        <tr>
          <th scope="col">{{'GE.EQUIPMENT_LIST.txtCode' | translate}}</th>
          <th scope="col">{{'GE.EQUIPMENT_LIST.txtLocation' | translate}}</th>
          <th scope="col">{{'GE.EQUIPMENT_LIST.txtFamily' | translate}}</th>
          <th scope="col">{{'GE.EQUIPMENT_LIST.txtEquip' | translate}}</th>
          <th scope="col">{{'GE.EQUIPMENT_LIST.txtBrand' | translate}}</th>
          <th scope="col">{{'GE.EQUIPMENT_LIST.txtModel' | translate}}</th>
          <th scope="col">{{'GE.EQUIPMENT_LIST.txtValidInspect' | translate}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let equipment of equipmentsToDeposit">
        <tr>
          <td>{{equipment.codigo}}</td>
          <td>{{equipment.localizacao}}</td>
          <td>{{equipment.familia}}</td>
          <td>{{equipment.equipamento}}</td>
          <td>{{equipment.marca}}</td>
          <td>{{equipment.modelo}}</td>
          <td>{{equipment.inspecaoValida}}</td>
        </tr>
      </tbody>
    </table>
  </div>


    <div class="float-right">
      <button (click)="depositEquip()" type="button" class="btn btn-secondary">
        {{'GE.DEPOSIT.btnDeposit' | translate}}
      </button>
    </div>


</div>
