<div class="container">
  <div class="row">

    <div class="col-md-6">

      <form [formGroup]="newEquipment">
        <label>Código :</label><br><input type="text" formControlName="codigo">
        <br>
        <label>Localização :</label><br><input class="align-center" type="text" formControlName="localizacao">
        <br>
        <label>
          Familia :
          <select class="form-control" formControlName="familia">
            <option *ngFor="let family of familyList">{{family}}</option>
          </select>
        </label>
        <br>
        <label>
          Equipamento :
          <select class="form-control" formControlName="equipamento">
            <option *ngFor="let family of familyList">{{family}}</option>
          </select>
        </label>

      </form>
    </div>

    <div class="col-md-6">
      <form [formGroup]="newEquipment">
        <label>
          Data Serviço :
          <input type="date" formControlName="codigo">
        </label>

        <br>

        <label>
          Código
          <input type="text" formControlName="codigo">
        </label>

        <label>
          Código
          <input type="text" formControlName="codigo">
        </label>
        <label>
          Código
          <input type="text" formControlName="codigo">
        </label>
        <label>
          Código
          <input type="text" formControlName="codigo">
        </label>
        <label>
          Localização :
          <input type="checkbox" formControlName="localizacao">
        </label>

      </form>
    </div>
  </div>
</div>
